<div class='link'>
  <p class='link-title'>Title: <%= link.title %></p>
  <p class='link-url'>URL: <%= link_to link.url %></p>
  <p class='read-status'>Read?: <%= link.read %></p>
  <%= button_to 'Mark as Read', '#' %> <%= button_to 'Edit', edit_link_path(link), method: :get %>
</div>