<div class="link <%= "read" if link.read %>" data-link-id=<%= link.id %> data-link-title=<%= link.title%> data-link-url=<%= link.url %> data-read=<%= link.read %>>
  <p class='link-title'>Title: <%= link.title %></p>
  <p class='link-url'>URL: <%= link_to link.url %></p>
  <p class='read-status'>Read? <%= link.read %></p>

  <% if link.read %>
    <button class="mark-as-unread read-button">Mark as Unread</button>
  <% else %>
    <button class="mark-as-read read-button">Mark as Read</button>
  <% end %> 
  <%= button_to 'Edit', edit_link_path(link), method: :get %>
</div>